@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #e5e5e5;
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  /* containers */
  .per-90-container {
    @apply w-[90%] mx-auto;
  }

  /* mobile container */
  .mobile-container {
    @apply max-w-sm mx-auto;
  }
}
